.order-page-title {
  font-family: 'Oswald', sans-serif; /* Bold font */
  font-size: 3rem;        /* Large title  */
  text-align: center;     /* Centers the title horizontally */
  color: #ffffff;         /* White color  */
  margin: 0;              /* Remove default margins */
}

/* Container to center the title vertically and horizontally */
.order-page-content {
  display: flex;          /* Use flexbox for centering */
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  min-height: 100vh;      /* Full screen height */
 
}

body {
  background-color: #000;
}